*{
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

#title{
    text-align: center;
    font-size: 50px;
    color: red;
}

.desc{
    font-family: quincy !important;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}

#navBar {
    overflow: hidden;
    background-color: grey;
    position: relative;
    width: 120px;
    height: 1000px;
    list-style: none;
    top: -115px;
    font-size: 20px;
  }
  